.sign-in {
  width: 380px;
  flex-direction: column;
  justify-content: space-between;

  .title {
    margin: 10px 0px;
  }

  .buttons {
    display: flex;
  }
}


@media screen and (max-width: 940px) {

  .sign-in {
    width: 260px;
  }
}

@media screen and (max-width: 690px) {
  .sign-in {
    margin-bottom: 20px;
  }

}