.sign-in {
  width: 380px;
  flex-direction: column;
  justify-content: space-between;

  .title {
    margin: 10px 0px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
