body {
    font-family: "Lobster";
    padding: 20px 80px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 538px) {
    body {

        padding: 20px 26px;
    }

  a {
    font-size: 14px;
  }
}